@import "tailwindcss";
@theme {
  --color-portfolio-blue: #0d3748;
  --color-portfolio-teal: #38b2ac;
  --color-portfolio-violet: #1a0d2b;
  --color-portfolio-purple: #805ad5;
  --color-portfolio-dark: #0b0118;
  --color-portfolio-light: #e2e8f0;
}
